<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Transferencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="ion-text-center" *ngIf="transfersList.length === 0">Sin transferencias</p>

  <ion-card *ngFor="let transfer of transfersList" color="tertiary">
    <ion-card-header>
      <ion-card-title>
        {{transfer.description}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Origen: <strong>{{transfer.originAccount}}</strong></p>
      <p>Destino: <strong>{{transfer.destinationAccount}}</strong></p>
      <p>Monto: <strong style="font-size: 18px;">{{ transfer.amount }} Bs.</strong></p>
      <p>Fecha: <strong>{{transfer.createdDate | date: 'dd/MM/yyyy'}}</strong></p>
    </ion-card-content>
    <div style="display: flex; justify-content: flex-end">
      <ion-button id="open-edit-modal" color="light" (click)="openEditModal(transfer)">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
      <ion-button color="light" (click)="deleteTransfer(transfer.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </div>
  </ion-card>

  <ion-modal #addModal>
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Agregar transferencia</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="transferForm" (ngSubmit)="addTransfer()">
          <ion-item>
            <ion-select formControlName="originAccountId" label="Cuenta origen" placeholder="Seleccione la cuenta">
              <ion-select-option *ngFor="let account of accountsList"
                [value]="account.id">{{account.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select formControlName="destinationAccountId" label="Cuenta destino"
              placeholder="Seleccione la cuenta">
              <ion-select-option *ngFor="let account of accountsList"
                [value]="account.id">{{account.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input formControlName="description" type="text" label="Descripción"
              labelPlacement="floating"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="amount" type="number" label="Monto" labelPlacement="floating"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select formControlName="categoryId" label="Categoría" placeholder="Seleccione la categoría">
              <ion-select-option *ngFor="let category of categoriesList"
                [value]="category.id">{{category.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>
              Fecha
            </ion-label>
          </ion-item>
          <div style="display: flex; justify-content: center;">
            <ion-datetime formControlName="createdDate" presentation="date" [max]="maxDate"></ion-datetime>
          </div>

          <ion-button expand="full" class="ion-margin-top" type="submit"
            [disabled]="!transferForm.valid">Agregar</ion-button>
          <ion-button expand="full" class="ion-margin-top" (click)="cancelModal()" color="danger">Cancelar</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #editModal>
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Editar transferencia</ion-title>
        </ion-toolbar> 
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="editTransferForm" (ngSubmit)="updateTransfer()">
          <ion-item style="display: none;">
            <ion-input formControlName="id" type="text" label="Id" labelPlacement="floating"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select formControlName="originAccountId" label="Cuenta origen" placeholder="Seleccione la cuenta">
              <ion-select-option *ngFor="let account of accountsList"
                [value]="account.id">{{account.name}}</ion-select-option>
            </ion-select>

          </ion-item>
          <ion-item>
            <ion-select formControlName="destinationAccountId" label="Cuenta destino"
              placeholder="Seleccione la cuenta">
              <ion-select-option *ngFor="let account of accountsList"
                [value]="account.id">{{account.name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-input formControlName="description" type="text" label="Descripción"
              labelPlacement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="amount" type="number" label="Monto" labelPlacement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-select formControlName="categoryId" label="Categoría" placeholder="Seleccione la categoría">
              <ion-select-option *ngFor="let category of categoriesList"
                [value]="category.id">{{category.name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>
              Fecha
            </ion-label>
          </ion-item>

          <div style="display: flex; justify-content: center;">
            <ion-datetime formControlName="createdDate" presentation="date" [max]="maxDate"></ion-datetime>
          </div>

          <ion-button expand="full" class="ion-margin-top" type="submit"
            [disabled]="!editTransferForm.valid">Editar</ion-button>

          <ion-button expand="full" class="ion-margin-top" (click)="cancelEditModal()"
            color="danger">Cancelar</ion-button>
        </form>
      </ion-content>
    </ng-template> 
  </ion-modal>

  <ion-fab id="open-modal" slot="fixed" vertical="bottom" horizontal="end" (click)="openModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>