ion-content{
  .card-balance{
    ion-card-header{
      ion-card-title{
        font-size: 1rem;
        font-weight: 500;
      }
    }
    ion-card-content{
      ion-text{
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }
}