<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-balance ion-margin-top" color="secondary">
    <ion-card-header>
      <ion-card-title>Balance total</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong style="font-size: 18px;">{{totalBalance}} Bs. </strong></p>
    </ion-card-content>
  </ion-card>
  <div class="hr"></div>
  <h2 class="ion-text-center">Cuentas</h2>
  <p class="ion-text-center" *ngIf="accountsList.length === 0">Sin cuentas</p>
  <ion-card *ngFor="let account of accountsList" color="tertiary">
    <ion-card-header>
      <ion-card-title>
        {{account.name}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{account.description}}</p>
      <p>Balance: <strong style="font-size: 18px;">{{ account.balance }} Bs.</strong></p>
    </ion-card-content>
  </ion-card>
  <div class="hr"></div>
  <h2 class="ion-text-center">Balance por periodo</h2>
  <em>
    <p class="ion-text-center">Seleccione una fecha para mostrar el balance</p>
  </em>

  <ion-item>
    <ion-input [readonly]="true" class="ion-text-center" id="open_cal" placeholder="Seleccione un periodo" [value]="date | date:'MMMM yyyy'"></ion-input>
  </ion-item>
  <ion-modal #dateModal trigger="open_cal" [keepContentsMounted]="true" [initialBreakpoint]="0.40">
    <ng-template>
      <div style="display: flex; justify-content: center; height: 100%;">
        <ion-datetime presentation="month-year" [(ngModel)]="date" (ionChange)="changeDate()"></ion-datetime>
      </div>
    </ng-template>
  </ion-modal>

  <p class="ion-text-center">Ingresos: <strong>{{totalIncomes}} Bs.</strong></p>
  <P class="ion-text-center">Egresos: <strong>{{totalExpenses}} Bs.</strong></P>
  <app-doughnut-chart [incomes]="totalIncomes" [expenses]="totalExpenses"></app-doughnut-chart>

</ion-content>