<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-balance" color="secondary">
    <ion-card-header>
      <ion-card-title>Balance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text> 23265.00 Bs. </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-balance" color="success">
    <ion-card-header>
      <ion-card-title>Ingresos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text> 2324.00 Bs. </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-balance" color="danger">
    <ion-card-header>
      <ion-card-title>Egresos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text> 1000.00 Bs. </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>